.Container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("../../assests/images/register-background.jpg");

  display: flex;
  justify-content: center;
  align-items: center;
}

.Wrapper {
  width: 40%;
  background-color: white;
  padding: 20px;

  h1 {
    font-size: 24px;
    font-weight: 300;
  }

  form {
    display: flex;
    flex-wrap: wrap;
  }
}
