.Container {
  display: grid;

  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.Pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
