.Container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 20px;
  justify-content: center;
}

.Pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
