.Container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding: 0 10px;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    padding: 0;
  }
}
