.Container {
  h1 {
    margin: 20px;
  }
}

.FilterContainer {
  display: flex;
  justify-content: space-between;

  div {
    margin: 20px;

    @media only screen and (max-width: 600px) {
      margin: 0 20px;
      display: flex;
      flex-direction: column;
    }
  }

  span {
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;

    @media only screen and (max-width: 600px) {
      margin-right: 0;
    }
  }

  select {
    padding: 5px;
    margin-right: 20px;

    @media only screen and (max-width: 600px) {
      margin: 10px 0;
    }
  }
}
