.Container {
  h1 {
    margin: 20px;
  }
}

.FilterContainer {
  display: flex;
  justify-content: space-between;

  div {
    margin: 20px;
  }

  span {
    font-size: 20px;
    font-weight: 600;
  }
}
