.Wrapper {
  padding: 20px;

  h1 {
    font-weight: 300;
    text-align: center;
  }
}

.Top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Button {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}

.TopTexts {
  span {
    text-decoration: underline;
    cursor: pointer;
    margin: 0 10px;
  }
}
