@use "src/styles";

.Wrapper {
  padding: 20px;
  background-color: #f7fafa;

  @media only screen and (max-width: 600px) {
    padding: 10px;
  }

  > h1 {
    font-weight: 300;
    text-align: center;
  }
}

.Top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.Button {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;
  border-radius: 2px;
  box-shadow: styles.$shadow-light;

  &--filled {
    @extend .Button;
    border: none;
    background-color: #000;
    color: white;
  }
}

.Bottom {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.Info {
  flex: 3;

  hr {
    border: none;
    height: 1px;
    background-color: lightgrey;
  }
}

.Summary {
  flex: 1;
  border: 0.5px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
  height: 50vh;

  h1 {
    font-weight: 200;
  }

  button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
  }
}

.Product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.ProductDetail {
  flex: 2;
  display: flex;

  img {
    width: 200px;
    object-fit: cover;
  }
}

.PriceDetail {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}

.ProductColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.AmountContainer {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-bottom: 20px;

  span {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
  }
}

.ChangeValue {
  cursor: pointer;
}

.ProductPrice {
  font-size: 30px;
  font-weight: 300;

  @media only screen and (max-width: 600px) {
    margin-bottom: 20px;
  }
}

.SummaryItem {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;

  &--total {
    @extend .SummaryItem;
    font-weight: 500;
    font-size: 24px;
  }
}

.IconContainer {
  background-color: rgb(240, 240, 240);
  min-height: 32px;
  min-width: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-right: 20px;

  &:hover {
    background-color: rgb(230, 230, 230);
  }
}

.CloseIcon {
  color: #000;
  font-size: 16px !important;
}
