.Wrapper {
  padding: 20px;

  h1 {
    font-weight: 300;
    text-align: center;
  }
}

.Top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.Button {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  background-color: transparent;

  &--filled {
    @extend .Button;
    border: none;
    background-color: black;
    color: white;
  }
}

.TopTexts {
  span {
    text-decoration: underline;
    cursor: pointer;
    margin: 0 10px;
  }
}

.Bottom {
  display: flex;
  justify-content: space-between;
}

.Info {
  flex: 3;

  hr {
    border: none;
    background-color: #eee;
    height: 1px;
  }
}

.Summary {
  flex: 1;
  border: 0.5px solid lightgrey;
  border-radius: 10px;
  padding: 20px;
  height: 50vh;

  h1 {
    font-weight: 200;
  }
}

.Product {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.ProductDetail {
  flex: 2;
  display: flex;

  img {
    width: 200px;
    object-fit: cover;
  }
}

.PriceDetail {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Detail {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10px;
}

.ProductColor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.ProductAmount {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  span {
    font-size: 24px;
    margin: 5px;
  }
}

.ProductPrice {
  font-size: 30px;
  font-weight: 300;
}

.SummaryItem {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;

  &--total {
    @extend .SummaryItem;
    font-weight: 500;
    font-size: 24px;
  }
}
