.Container {
}

.Wrapper {
  padding: 20px;
  display: flex;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    padding: 10px;
  }
}

.ImageContainer {
  flex: 2;

  img {
    width: 100%;
    height: 70vh;
    object-fit: cover;

    @media only screen and (max-width: 600px) {
      height: 40vh;
    }
  }
}

.InfoContainer {
  flex: 1;
  padding: 0 20px;

  @media only screen and (max-width: 600px) {
    padding: 10px;
  }

  h1 {
    font-weight: 200;
  }

  p {
    margin: 20px 0;
  }

  > span {
    font-weight: 100;
    font-size: 40px;
  }
}

.FilterContainer {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.Filter {
  display: flex;
  align-items: center;

  span {
    font-size: 20px;
    font-weight: 200;
  }

  div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }

  select {
    margin-left: 10px;
    padding: 5px;
  }
}

.AddContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  button {
    background-color: white;
    padding: 15px;
    border: 2px solid teal;
    font-weight: 700;
    cursor: pointer;

    &:hover {
      background-color: #f8f4f4;
    }
  }
}

.AmountContainer {
  display: flex;
  align-items: center;
  font-weight: 700;

  span {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
  }
}

.ChangeValue {
  cursor: pointer;
}
