@use "src/styles";

.ProductContainer {
  display: flex;
  justify-content: center;
  background-color: #f7fafa;
}

.Wrapper {
  padding: 40px;
  display: flex;
  width: 60%;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    padding: 10px;
  }
}

.ImageContainer {
  flex: 2;

  img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    box-shadow: styles.$shadow;
    border-radius: 5px;

    @media only screen and (max-width: 600px) {
      height: 40vh;
    }
  }
}

.InfoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  font-weight: 300;

  @media only screen and (max-width: 600px) {
    padding: 10px;
  }

  h1 {
    font-weight: 300;
    margin-bottom: 20px;
  }

  p {
    font-size: 24px;
    margin-bottom: 20px;
  }

  > span {
    margin-bottom: 20px;
    font-size: 24px;
  }
}

.FilterContainer {
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.Filter {
  display: flex;
  align-items: center;

  span {
    font-size: 20px;
    font-weight: 300;
    margin-right: 10px;
  }

  .ColorCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid grey;
    transition: 0.2s;

    &--Selected {
      @extend .ColorCircle;
      box-shadow: styles.$shadow-compact;
    }
  }

  select {
    padding: 5px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;

    &:focus {
      box-shadow: styles.$shadow-light;
    }

    option {
      font-size: 14px;
      font-weight: 500;
    }
  }
}

.AddContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  button {
    background-color: white;
    padding: 10px 15px;
    border: 2px solid teal;
    font-weight: 700;
    cursor: pointer;
    box-shadow: styles.$shadow-compact;

    &:hover {
      background-color: #f8f4f4;
    }
  }
}

.AmountContainer {
  display: flex;
  align-items: center;
  font-weight: 700;

  span {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
  }
}

.ChangeValue {
  font-size: 20px;
  cursor: pointer;
}
