.UserInfo {
  flex: 1;
}

.InfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px;
  border: 1px solid lightgrey;
  padding: 20px 20px 10px 20px;
  border-radius: 5px;
  max-width: 400px;

  .Option {
    margin-bottom: 10px;

    > span {
      color: darkblue;
      font-size: 14px;
    }

    > input {
      margin-right: 5px;
      cursor: pointer;

      @media only screen and (max-width: 450px) {
        margin-top: 5px;
      }
    }

    > label {
      margin-right: 5px;
      font-weight: 600;
      cursor: pointer;
    }

    .Phone {
      border: 1px solid lightgrey;
      border-radius: 5px;
      padding: 5px 10px;
      font-size: 14px;
      cursor: auto;

      @media only screen and (max-width: 450px) {
        width: 45vw;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .AddressText {
    width: 250px;
    resize: none;
    height: 60px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    margin-top: 5px;

    @media only screen and (max-width: 450px) {
      width: 45vw;
    }

    &:focus {
      outline: none;
    }
  }
}
