.Container {
  height: 40px;
  padding: 10px 20px;
  background-color: teal;

  position: sticky;
  top: 0;
  z-index: 40;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 600px) {
    height: 50px;
    padding: 10px 0;
  }
}

.Left {
  display: flex;
  align-items: center;
}

.Logo {
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  margin-right: 20px;

  @media only screen and (max-width: 600px) {
    font-size: 24px;
  }
}

.Right {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media only screen and (max-width: 600px) {
    margin-right: 15px;
  }
}

.MenuContainer {
  display: flex;

  @media only screen and (max-width: 800px) {
    display: none;
  }
}

.Item {
  cursor: pointer;
  margin-left: 15px;
  white-space: nowrap;
  color: #fff;
  display: flex;
  align-items: center;

  .Title {
    margin-right: 5px;
  }

  &:hover {
    color: lightgrey;
  }

  @media only screen and (max-width: 600px) {
    font-size: 12px;
    margin-left: 10px;
  }
}

.Menu {
  display: none !important;
  color: #fff;
  margin-left: 15px;
  font-size: 26px;
  cursor: pointer;

  @media only screen and (max-width: 800px) {
    display: block !important;
  }
}
