.Container {
  padding: 10px 20px;
  background-color: teal;

  position: sticky;
  top: 0;
  z-index: 40;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: 600px) {
    height: 50px;
    padding: 10px 0;
  }
}

.Left {
  display: flex;
  align-items: center;
}

.SearchContainer {
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #fff;

  @media only screen and (max-width: 600px) {
    margin-left: 10px;
  }
}

.Input {
  border: none;

  &:focus {
    outline: none;
  }

  @media only screen and (max-width: 600px) {
    width: 22vw;
  }
}

.Search {
  color: teal;
  font-size: 16px;
  cursor: pointer;
}

.Logo {
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  white-space: nowrap;
  margin-right: 20px;

  @media only screen and (max-width: 600px) {
    font-size: 24px;
  }
}

.Right {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  div {
    cursor: pointer;
    margin-left: 25px;
    white-space: nowrap;
    color: #fff;

    &:hover {
      color: lightgrey;
    }

    @media only screen and (max-width: 600px) {
      font-size: 12px;
      margin-left: 10px;
    }
  }

  @media only screen and (max-width: 600px) {
    margin-right: 15px;
  }
}

.Badge {
  color: #fff;

  &:hover {
    color: lightgrey;
  }
}

.Link {
  text-decoration: none;
  color: inherit;
}
