@use "src/styles";

.Container {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
  box-shadow: styles.$shadow;

  h1 {
    font-size: 40px;
    margin-bottom: 20px;

    @media only screen and (max-width: 600px) {
      font-size: 30px;
    }
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: teal;
    color: white;
    cursor: pointer;
    font-size: 20px;
    box-shadow: styles.$shadow;

    @media only screen and (max-width: 600px) {
      font-size: 16px;
    }

    &:hover {
      background-color: rgb(0, 156, 156);
    }
  }
}

.Desc {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 300;
  padding: 0 20px;

  @media only screen and (max-width: 600px) {
    text-align: center;
    font-size: 20px;
  }
}
