.Container {
  display: flex;
}

.Left {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;

  p {
    margin: 20px 0;
  }
}

.SocialContainer {
  display: flex;
}

.SocialIcon {
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

  &--facebook {
    @extend .SocialIcon;
    background-color: #3b5999;
  }

  &--instagram {
    @extend .SocialIcon;
    background-color: #e4405f;
  }

  &--twitter {
    @extend .SocialIcon;
    background-color: #55acee;
  }

  &--whatsapp {
    @extend .SocialIcon;
    background-color: #25d366;
  }
}

.Center {
  flex: 1;
  padding: 20px;

  h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 50%;
    margin-bottom: 10px;
  }
}

.Right {
  flex: 1;
  padding: 20px;
}
