.Container {
  display: flex;
  background-color: teal;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
  color: #fff;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.Left {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
}

.SocialContainer {
  display: flex;
}

.SocialIcon {
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

  &--facebook {
    @extend .SocialIcon;
    background-color: #3b5999;
  }

  &--instagram {
    @extend .SocialIcon;
    background-color: #e4405f;
  }

  &--twitter {
    @extend .SocialIcon;
    background-color: #55acee;
  }

  &--whatsapp {
    @extend .SocialIcon;
    background-color: #25d366;
  }
}

.Center {
  flex: 1;
  padding: 20px;

  @media only screen and (max-width: 600px) {
    display: none;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    width: 50%;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover {
      color: lightgrey;
    }
  }
}

.Right {
  flex: 1;
  padding: 20px;

  @media only screen and (max-width: 600px) {
    background-color: rgb(247, 243, 252);
  }

  h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  div {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  img {
    width: 70%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.Link {
  text-decoration: none;
  color: inherit;
}
