.Container {
  flex: 1;
  margin: 5px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5fdfb;

  img {
    height: 70%;
    object-fit: cover;
  }
}
