.Container {
  width: 100%;
  height: 35vw;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.Arrow {
  width: 50px;
  height: 50px;
  background-color: rgb(230, 230, 230);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;

  &:hover {
    background-color: rgb(220, 220, 220);
  }

  &--Left {
    @extend .Arrow;
    left: 10px;
  }

  &--Right {
    @extend .Arrow;
    right: 10px;
  }
}

.Wrapper {
  height: 100%;
  display: flex;
  transition: all 1.5s ease;
}

.Slide {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.ImgContainer {
  height: 100%;
  flex: 1;
}

.Image {
  height: 100%;
}

.InfoContainer {
  flex: 1;
  margin: 0 20px;
}

.Title {
  font-size: 24px;
}

.Desc {
  margin: 20px 0;
  font-weight: 500;
  letter-spacing: 3px;
  max-width: 420px;
}

.Button {
  padding: 10px;
  font-size: 16px;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: rgb(230, 230, 230);
  }
}
