.Container {
  width: 100%;
  height: 75vh;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-top: 10px;

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.Arrow {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 247, 247);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  opacity: 0.5;
  z-index: 2;

  &--Left {
    @extend .Arrow;
    left: 10px;
  }

  &--Right {
    @extend .Arrow;
    right: 10px;
  }
}

.Wrapper {
  height: 100%;
  display: flex;
  transition: all 1.5s ease;
}

.Slide {
  height: 100%;
  width: 100vw;
  display: flex;
  align-items: center;
}

.ImgContainer {
  height: 100%;
  flex: 1;
}

.Image {
  height: 95%;
}

.InfoContainer {
  flex: 1;
}

.Title {
  font-size: 50px;
}

.Desc {
  margin: 50px 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
}

.Button {
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}
